<app-search></app-search>
<app-tags></app-tags>
<app-not-found></app-not-found>

<ul>
    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>
    
    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>

    <li>
        <a href="">
            <img src="../../../../assets/food-1.jpg" alt="img">
            <div class="content">
                <div class="name">Pizza</div>
                <span class="favorite">❤</span>
                <div class="product-item-corner">
                    <div class="origins">
                        <span>Italic</span><span>China</span>
                    </div>
                    <div class="cook-time">
                        <span>⏲</span>
                        10m
                    </div>
                    <div class="price">10$</div>
                </div>
            </div>
        </a>
    </li>

</ul>
